@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  -webkit-tap-highlight-color: transparent; /* 3*/
  -webkit-text-size-adjust: 100%; /* 2 */
  line-height: 1.15; /* 1 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  border-top-width: 1px;
  box-sizing: content-box; /* 1 */
  clear: both;
  color: inherit;
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.mincyo {
  font-family: "Noto Serif JP", serif;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  min-width: 1100px;
  overflow-x: hidden;
  word-break: break-all;
}

html .is-pc {
  display: block !important;
}

html .is-sp {
  display: none !important;
}
p {
  line-height: 1.5;
}
p a {
  color: #3aabd2;
  font-weight: bold;
}
p a:hover {
  text-decoration: underline;
}

a img {
  transition: 0.2s;
}
a:hover img {
  opacity: 0.7;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

section + section {
  margin-top: 80px;
}

.is-center {
  text-align: center;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

/* Header */
/* ============================================ */
.header {
  margin-bottom: 20px;
  position: relative;
}
.header__inner {
  margin: 0 auto;
  max-width: 1230px;
  padding: 10px 15px 0;
}
.header__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  text-align: center;
}
.header__logo a {
  align-items: center;
  display: flex;
}
.header__logo img {
  width: 110px;
}
.header__logo__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1em;
}
.header__utility {
  align-items: center;
  display: flex;
}
.header__utility li {
  margin: 0 10px;
  width: 40px;
}
.header__utility li:last-child {
  margin-right: 0;
}
.header__nav-area {
  margin-top: 10px;
}
.header__nav {
  display: flex;
}
.header__nav__item {
  width: 14.2857142857%;
}
.header__nav__item > a {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  padding: 20px 10px;
  text-align: center;
  transition: 0.2s;
}
.header__nav__item > a:hover {
  color: #3aabd2;
}
.header__child-nav {
  background: #d6f2fb;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
}
.header__child-nav__inner {
  margin: 0 auto;
  max-width: 1230px;
  padding: 30px 15px;
  width: 100%;
}
.header__child-nav .head-link {
  background-image: url(../images/common/icon_head_link01.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 40px;
}
.header__child-nav .head-link a {
  transition: 0.2s;
}
.header__child-nav .head-link a:hover {
  color: #3aabd2;
}
.header__child-nav .link {
  display: flex;
}
.header__child-nav .link li {
  margin-right: 1em;
  padding-left: 1em;
  position: relative;
}
.header__child-nav .link li::before {
  border-bottom: 2px solid #3aabd2;
  border-right: 2px solid #3aabd2;
  content: "";
  display: block;
  height: 0.6rem;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  width: 0.6rem;
}
.header__child-nav .link li a {
  font-weight: bold;
  transition: 0.2s;
}
.header__child-nav .link li a:hover {
  color: #3aabd2;
}
.header .icon-hamburger {
  display: none;
}
.header .icon-hamburger span {
  background-color: #fff;
  height: 2px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 0.2s;
  width: 19px;
}
.header .icon-hamburger span:nth-of-type(1) {
  top: 30%;
}
.header .icon-hamburger span:nth-of-type(2) {
  margin-top: -1px;
  top: 50%;
}
.header .icon-hamburger span:nth-of-type(3) {
  margin-top: -1px;
  top: 50%;
}
.header .icon-hamburger span:nth-of-type(4) {
  bottom: 27%;
}
.header .icon-hamburger.is-active span:nth-of-type(1) {
  display: none;
}
.header .icon-hamburger.is-active span:nth-of-type(2) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}
.header .icon-hamburger.is-active span:nth-of-type(3) {
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.header .icon-hamburger.is-active span:nth-of-type(4) {
  display: none;
}

.fix-bnr {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 99;
}
.fix-bnr a {
  background: url(../images/common/icon_mail.svg) no-repeat left 52% top 10px #3aabd2;
  background-size: 20px;
  border-radius: 10px 0 0 10px;
  display: block;
  padding: 35px 10px 10px;
  transition: 0.2s;
}
.fix-bnr a:hover {
  opacity: 0.7;
}
.fix-bnr .text {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.page-top {
  background: #fff;
  border-radius: 50%;
  bottom: 20px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  height: 55px;
  position: fixed;
  right: 20px;
  width: 55px;
}
.page-top::before {
  border-right: 6px solid #3aabd2;
  border-top: 6px solid #3aabd2;
  content: "";
  height: 24px;
  left: 50%;
  position: absolute;
  top: 58%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 24px;
}

.footer__bnr-area {
  background: #f4f6f1;
  padding: 30px 0;
}
.footer__bnr-area__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__bnr-area__list li {
  margin-right: 2%;
  width: 32%;
}
.footer__bnr-area__list li:nth-child(3n) {
  margin-right: 0;
}
.footer__head {
  background: #f4f6f1;
  border-top: 2px solid #3aabd2;
  padding: 10px 0;
}
.footer__head__navi {
  display: flex;
}
.footer__head__navi li {
  margin-right: 1.5em;
}
.footer__head__navi li a {
  display: block;
  font-size: 1.4rem;
  padding-left: 1em;
  position: relative;
}
.footer__head__navi li a:hover {
  text-decoration: underline;
}
.footer__head__navi li a::before {
  border-bottom: 2px solid #3aabd2;
  border-right: 2px solid #3aabd2;
  color: #3aabd2;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  width: 8px;
}
.footer__contents {
  background: #d6f2fb;
  padding: 40px 0;
}
.footer__inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__logo {
  text-align: center;
}
.footer__logo img {
  width: 120px;
}
.footer__logo .title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
}
.footer__info__sns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer__info__sns li {
  margin: 0 10px;
  width: 40px;
}
.footer__address {
  background: #3aabd2;
}
.footer__address address {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1;
  padding: 20px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
}

.page-head {
  background: #3aabd2;
  text-align: center;
}
.page-head__title-area {
  align-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: center;
}
.page-head__title-area .title {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 100%;
}
.page-head__title-area .sub {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 1em;
}

.bread-area {
  background: #f4f6f1;
  margin-bottom: 80px;
  padding: 10px 0;
}
.bread-area__list li {
  display: inline-block;
  font-size: 0;
}
.bread-area__list li span,
.bread-area__list li a {
  font-size: 1.4rem;
  font-weight: 500;
}
.bread-area__list li a:hover {
  text-decoration: underline;
}
.bread-area__list li + li::before {
  content: ">";
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1em;
}

.c-title01 {
  color: #4c514b;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 60px;
}

.c-title02 {
  border-bottom: 3px solid #e6dfcc;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 35px;
  padding-bottom: 10px;
  position: relative;
}
.c-title02::before {
  background: #3aabd2;
  bottom: -3px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 148px;
}

.c-title03 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.c-title04 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.c-title05 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.c-title06 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-col-2 > * {
  width: 48%;
}

.c-col-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-col-3 > * {
  width: 32%;
}

.c-col-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-col-4 > * {
  width: 23.5%;
}

.c-btn {
  margin-top: 40px;
}
.c-btn a,
.c-btn button {
  background: #3aabd2;
  border-radius: 30px;
  color: #fff;
  display: block;
  line-height: 5.7rem;
  margin: 0 auto;
  max-width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  transition: 0.2s;
  width: 100%;
}
.c-btn a:hover,
.c-btn button:hover {
  opacity: 0.7;
}
.c-btn a:hover::after,
.c-btn button:hover::after {
  right: 15px;
}
.c-btn a::after,
.c-btn button::after {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s;
  width: 10px;
}

.c-link a {
  color: #3aabd2;
  font-weight: bold;
}
.c-link a:hover {
  text-decoration: underline;
}
.c-link a::before {
  border-bottom: 5px solid transparent;
  border-left: 8px solid #2e672a;
  border-top: 5px solid transparent;
  content: "";
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 10px;
  vertical-align: middle;
}

.c-text-link {
  margin-top: 20px;
}
.c-text-link a {
  color: #3aabd2;
  font-size: 1.4rem;
  font-weight: bold;
}
.c-text-link a:hover {
  text-decoration: underline;
}
.c-text-link a::before {
  background: url(../images/common/icon_arr_link.png) no-repeat center center/contain;
  content: "";
  display: inline-block;
  height: 12px;
  margin-bottom: 4px;
  margin-right: 10px;
  vertical-align: middle;
  width: 6px;
}

.c-list {
  line-height: 1.88;
}
.c-list li {
  padding-left: 1em;
  text-indent: -1em;
}
.c-list li a {
  color: #3aabd2;
  font-weight: bold;
}
.c-list li a:hover {
  text-decoration: underline;
}
.c-list + .c-note {
  margin-top: 15px;
}

.c-mark-list li {
  line-height: 1.88;
}
.c-mark-list li::before {
  border-bottom: 5px solid transparent;
  border-left: 8px solid #2e672a;
  border-top: 5px solid transparent;
  content: "";
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 10px;
  vertical-align: middle;
}
.c-mark-list li a {
  color: #3aabd2;
  font-weight: bold;
}
.c-mark-list li a:hover {
  text-decoration: underline;
}

.c-note {
  line-height: 1.88;
  padding-left: 20px;
  position: relative;
}
.c-note::before {
  content: "※";
  display: block;
  font-size: 1.5rem;
  left: 0;
  position: absolute;
  top: 0.15em;
}

.c-table table {
  width: 100%;
}
.c-table table th {
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
.c-table table td {
  padding: 8px;
  text-align: center;
}
.c-table table tr {
  border-bottom: 1px dashed #d0d0d0;
}
.c-table table tr:nth-child(2n) {
  background: #eaeef3;
}
.c-table + .c-note {
  margin-top: 15px;
}

.slick-prev-arr,
.slick-next-arr {
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 0;
  font-weight: bold;
  height: 46px;
  left: 25px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  z-index: 1;
}
.slick-prev-arr::before,
.slick-next-arr::before {
  contain: "";
  display: block;
  position: absolute;
}

.slick-next-arr {
  background: url(../images/common/icon_slick_next_w.png) no-repeat center center/contain;
  left: auto;
  right: 25px;
}

.p-news__list {
  margin: 0 auto;
  max-width: 1100px;
}
.p-news__list__item {
  border-bottom: 1px solid #b5b5b5;
  display: flex;
  padding: 15px 0;
}
.p-news__list__item .date {
  flex: none;
  margin-right: 1em;
}
.p-news__list__item .title {
  line-height: 1.5;
}
.p-news__list__item .title a:hover {
  text-decoration: underline;
}

.p-contact-section {
  background: #d6f2fb;
  padding: 50px 0;
}
.p-contact-section__title-area .title {
  color: #3aabd2;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

.p-form {
  margin-bottom: 120px;
}
.p-form .c-text {
  margin-bottom: 30px;
}
.p-form__table {
  box-sizing: border-box;
  width: 100%;
}
.p-form__table + .c-text {
  margin-bottom: 0;
  margin-top: 30px;
}
.p-form__table tr {
  border-bottom: 1px solid #3c3c3c;
}
.p-form__table tr th {
  font-weight: normal;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-top: 20px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 190px;
}
.p-form__table tr th .req {
  background: #3aabd2;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  line-height: 1.45;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}
.p-form__table tr td {
  padding: 20px;
}
.p-form__table tr td input[type=text],
.p-form__table tr td input[type=tel],
.p-form__table tr td input[type=email],
.p-form__table tr td textarea,
.p-form__table tr td select {
  border: 1px solid #D5D5D5;
  border-radius: 6px;
  padding: 10px 15px;
  width: 315px;
}
.p-form__table tr td input[type=text].sizeS,
.p-form__table tr td input[type=tel].sizeS,
.p-form__table tr td input[type=email].sizeS,
.p-form__table tr td textarea.sizeS,
.p-form__table tr td select.sizeS {
  width: 250px;
}
.p-form__table tr td input[type=text].sizeL,
.p-form__table tr td input[type=tel].sizeL,
.p-form__table tr td input[type=email].sizeL,
.p-form__table tr td textarea.sizeL,
.p-form__table tr td select.sizeL {
  width: 440px;
}
.p-form__table tr td input[type=text].size110,
.p-form__table tr td input[type=tel].size110,
.p-form__table tr td input[type=email].size110,
.p-form__table tr td textarea.size110,
.p-form__table tr td select.size110 {
  width: 110px;
}
.p-form__table tr td input[type=text].size100,
.p-form__table tr td input[type=tel].size100,
.p-form__table tr td input[type=email].size100,
.p-form__table tr td textarea.size100,
.p-form__table tr td select.size100 {
  width: 100px;
}
.p-form__table tr td select {
  background: #fff;
  color: #000;
  padding-bottom: 7px;
  padding-top: 7px;
}
.p-form__table tr td textarea {
  max-width: 670px;
  width: 100%;
}
.p-form__table tr td dl {
  align-items: center;
  display: flex;
}
.p-form__table tr td dl + dl {
  margin-top: 20px;
}
.p-form__table tr td dl dt {
  flex: none;
  width: 82px;
}
.p-form__table label {
  margin-right: 30px;
  padding: 10px 10px 10px 0;
}
.p-form__table label input {
  margin-right: 5px;
}
.p-form__table .zip-btn {
  background-color: #3aabd2;
  border-radius: 25px;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 3rem;
  margin-left: 20px;
  text-align: center;
  transition: 0.2s;
  width: 116px;
}
.p-form__table .zip-btn:hover {
  opacity: 0.8;
}
.p-form .c-btn {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 2.6666666667vw;
  }
  body {
    font-size: 1.4rem;
  }
  body {
    min-width: auto;
  }
  body.is-fix {
    position: fixed;
    width: 100%;
  }
  html .is-pc {
    display: none !important;
  }
  html .is-sp {
    display: block !important;
  }
  section + section {
    margin-top: 16vw;
  }
  .mb10 {
    margin-bottom: 2.6666666667vw;
  }
  .mb20 {
    margin-bottom: 5.3333333333vw;
  }
  .mb30 {
    margin-bottom: 8vw;
  }
  .mb40 {
    margin-bottom: 10.6666666667vw;
  }
  .mb50 {
    margin-bottom: 13.3333333333vw;
  }
  .mb60 {
    margin-bottom: 16vw;
  }
  .mb70 {
    margin-bottom: 18.6666666667vw;
  }
  .mb80 {
    margin-bottom: 21.3333333333vw;
  }
  .mb90 {
    margin-bottom: 24vw;
  }
  .mb100 {
    margin-bottom: 26.6666666667vw;
  }
  .header {
    margin-bottom: 0;
  }
  .header__inner {
    padding: 2.6666666667vw 4vw;
  }
  .header__logo img {
    width: 16vw;
  }
  .header__logo__title {
    font-size: 1.2rem;
  }
  .header__utility {
    display: none;
  }
  .header__nav-area {
    background: #d6f2fb;
    display: none;
    height: 100vh;
    left: 0;
    margin-top: 0;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }
  .header__nav {
    display: block;
    padding: 0 4vw;
  }
  .header__nav__item {
    border-bottom: 1px solid #b5b5b5;
    width: 100%;
  }
  .header__nav__item > a {
    padding: 1em 0;
    text-align: left;
  }
  .header__child-nav {
    border-top: 1px solid #b5b5b5;
    position: static;
  }
  .header__child-nav__inner {
    max-width: 100%;
    padding: 0;
  }
  .header__child-nav .head-link {
    background: none;
    border-bottom: 1px solid #b5b5b5;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding-left: 0;
  }
  .header__child-nav .head-link a {
    display: block;
    padding: 0.5em 1em;
  }
  .header__child-nav .link {
    display: block;
  }
  .header__child-nav .link li {
    border-bottom: 1px solid #b5b5b5;
    margin-right: 0;
    padding-left: 0;
  }
  .header__child-nav .link li:last-child {
    border-bottom: none;
  }
  .header__child-nav .link li::before {
    display: none;
  }
  .header__child-nav .link li a {
    background: none;
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0.8em 1em;
  }
  .header .icon-hamburger {
    background-color: #3aabd2;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    height: 10.6666666667vw;
    position: fixed;
    right: 4vw;
    top: 2.6666666667vw;
    width: 10.6666666667vw;
    z-index: 999;
  }
  .fix-bnr {
    display: none !important;
  }
  .page-top {
    bottom: 2.6666666667vw;
    height: 13.3333333333vw;
    right: 1.3333333333vw;
    width: 13.3333333333vw;
    z-index: 99;
  }
  .page-top::before {
    border-right: 1.6vw solid #3aabd2;
    border-top: 1.6vw solid #3aabd2;
  }
  .footer__bnr-area {
    padding: 8vw 0;
  }
  .footer__bnr-area__list {
    justify-content: space-between;
  }
  .footer__bnr-area__list li {
    margin: 0;
    width: 48%;
  }
  .footer__bnr-area__list li:nth-child(n+3) {
    margin-top: 5.3333333333vw;
  }
  .footer__head {
    display: none;
  }
  .footer__contents {
    padding: 8vw 0;
  }
  .footer__inner {
    display: block;
  }
  .footer__logo img {
    width: 26.6666666667vw;
  }
  .footer__logo .title {
    font-size: 1.2rem;
    margin-top: 2.6666666667vw;
  }
  .footer__info {
    margin-top: 5.3333333333vw;
  }
  .footer__info .c-text {
    font-size: 1.4rem;
  }
  .footer__info__sns {
    margin-top: 2.6666666667vw;
  }
  .footer__info__sns li {
    margin: 0 2.6666666667vw;
    width: 10.6666666667vw;
  }
  .footer__address address {
    font-size: 1.1rem;
    padding: 4vw 0;
  }
  .page-head__title-area {
    height: 53.3333333333vw;
  }
  .c-col-2 > * {
    width: 100%;
  }
  .c-col-2 > * + * {
    margin-top: 5.3333333333vw;
  }
  .c-col-3 > * {
    width: 100%;
  }
  .c-col-3 > * + * {
    margin-top: 5.3333333333vw;
  }
  .c-col-4 > * {
    width: 48%;
  }
  .c-col-4 > *:nth-child(n+3) {
    margin-top: 5.3333333333vw;
  }
  .c-btn {
    margin-top: 8vw;
  }
  .c-btn a,
  .c-btn button {
    max-width: 69.3333333333vw;
    padding-left: 5.3333333333vw;
    padding-right: 5.3333333333vw;
  }
  .c-text-link {
    margin-top: 2.6666666667vw;
  }
  .c-text-link a {
    font-size: 1.6rem;
  }
  .slick-prev-arr,
  .slick-next-arr {
    height: 7.4666666667vw;
    left: 4vw;
    width: 3.4666666667vw;
  }
  .slick-next-arr {
    left: auto;
    right: 4vw;
  }
  .p-news__list__item {
    display: block;
    padding: 4vw 0;
  }
  .p-news__list__item .date {
    margin-bottom: 0.5em;
    margin-right: 0;
  }
  .p-contact-section {
    padding: 10.6666666667vw 0;
  }
  .p-form {
    margin-bottom: 21.3333333333vw;
  }
  .p-form__table tr {
    display: block;
    padding: 28px 0 20px;
  }
  .p-form__table tr th {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }
  .p-form__table tr th .req {
    display: inline-block;
    margin-left: 10px;
    position: static;
    -webkit-transform: none;
    transform: none;
    vertical-align: middle;
  }
  .p-form__table tr td {
    display: block;
    padding: 0;
    width: 100%;
  }
  .p-form__table tr td input[type=text],
  .p-form__table tr td input[type=tel],
  .p-form__table tr td input[type=email],
  .p-form__table tr td textarea,
  .p-form__table tr td select {
    width: 90%;
  }
  .p-form__table tr td input[type=text].sizeS,
  .p-form__table tr td input[type=tel].sizeS,
  .p-form__table tr td input[type=email].sizeS,
  .p-form__table tr td textarea.sizeS,
  .p-form__table tr td select.sizeS {
    width: 90%;
  }
  .p-form__table tr td input[type=text].sizeL,
  .p-form__table tr td input[type=tel].sizeL,
  .p-form__table tr td input[type=email].sizeL,
  .p-form__table tr td textarea.sizeL,
  .p-form__table tr td select.sizeL {
    width: 100%;
  }
  .p-form__table tr td input[type=text].size110,
  .p-form__table tr td input[type=tel].size110,
  .p-form__table tr td input[type=email].size110,
  .p-form__table tr td textarea.size110,
  .p-form__table tr td select.size110 {
    max-width: 110px;
    width: 29.3333333333vw;
  }
  .p-form__table tr td input[type=text].size100,
  .p-form__table tr td input[type=tel].size100,
  .p-form__table tr td input[type=email].size100,
  .p-form__table tr td textarea.size100,
  .p-form__table tr td select.size100 {
    max-width: 100px;
    width: 26.6666666667vw;
  }
  .p-form__table tr td textarea {
    width: 100%;
  }
  .p-form__table .zip-btn {
    margin-left: 5.3333333333vw;
    width: 30.9333333333vw;
  }
}